.services_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.services_title button{
    border: none;
    border-radius: 3px;
    background-color: transparent;
    transition: all 0.3s;
}

.services_title button i{
    margin-right: 5px;
}

.services_title button:hover{
    background-color: #c3f1d6;
}

.services hr{
    margin: 5px;
}

.services_table{
    padding: 20px;
    margin-top: 20px;
}

.services_table table{
    text-align: left;
}

.services_edit{
    text-align: right;
}

.services_table table button{
    border: none;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s;
}

.services_table table button:hover{
    background-color: #c3f1d6;
}
