.post_comment{
    width: 97%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #f7faf6;
    padding: 10px;
    border-radius: 5px;
}

.post_comment textarea{
    width: 80%;
    margin: auto;
    border: 1px solid rgb(171, 202, 171);
    border-radius: 10px;
}

.post_comment_photo{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    overflow: hidden;
    border: 2px solid rgb(215, 238, 215);
    border-radius: 100px;
}

.post_comment_photo img{
    width: 40px;
    margin-left: 0px;
}

.post_comment button{
    height: 50px;
    padding: 10px;
    margin: 0px;
    margin-left: -10px;
}

.post_comment button i{
    font-size: 1.5rem;
    color: green;
}